.status_done{
    text-decoration: line-through 3px #000;
    color: rgb(138, 138, 138);
    border-left: 5px #000 solid;
}

.todo{
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}