<main>
    <div class="d-flex flex-column flex-shrink-0 bg-dark text-white" style="width: 4.5rem">
        <a href="#" [routerLink]="['']" class="d-block p-3 link-light text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
            data-bs-placement="right">
            <img src="assets/logo.jpeg" alt="Logo" class="img-fluid">
        </a>
        <ul class="nav nav-pills nav-flush flex-column mt-5 mb-auto text-center">
            <li class="nav-item">
                <a href="#" [routerLink]="['']" class="nav-link py-3 border-bottom border-secondary">
                    <i class="fas fa-home text-secondary"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" [routerLink]="['/create']" class="nav-link py-3 border-bottom border-secondary">
                    <i class="far fa-plus-square text-secondary"></i>
                </a>
            </li>
        </ul>
    </div>
</main>